/* html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
} */
/* Added max width on body to fix overflow issues on portfolio page */
body {
  max-width: 100vw;
  /* height: 100vh; */
  /* overflow-x: hidden; */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  /* background-color: #cbd5e1; */
  /* align-items: center; */
}

#root {
  color: rgb(107 114 128);
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0 2rem; */
  /* box-sizing: border-box; */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(243 244 246);
  font-family: "Titillium Web", sans-serif;
}

@media screen and (max-width: 1287px) {
  #root {
    box-shadow: none;
    margin: 0 auto;
    border-radius: 0px;
    /* padding: 1rem; */
  }
}
/* @media screen and (min-width: 768px) {
  html,
  body {
    overflow-x: visible;
  }
} */

@media (prefers-color-scheme: dark) {
  #root {
    color: rgb(243 244 246);
    background-color: #1e293b;
  }
}

.projectGif {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
